body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  width: 100%;
  padding: 10px;
  font-size: 4rem;
  text-align: left;
  border: none;
  background-color: #1e1e1e;
  color: white;
}

h3 {
  color: white;
  text-align: center;
}


#calculator {
  background-color: #101010;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 25px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: #3f3f3f;
}

.operator-btn {
  background-color: darkblue;
}

.operator-btn:hover {
  background-color: rgb(3, 3, 219);
}
